body{

}
#cabecera{

}
h2{
    
}
marquee{
    background-image: url("img/descuento20.png");
}
#columnas1{
    column-count: 3;
    text-align: center;
}
#columnas2{
    column-count: 3;
    text-align: center;
}
#fotos{
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
}
